doctype html
head
    title Contact Us
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    .index-page
        .header.header-des-ip
            .logo.pull-left
                a(href='/')
                    h2.cls-h2 Compa
                        span.data DATA
            .menu.pull-left
                ul
                    li
                        a(href='https://compadata.com/pricing') Biểu phí
            .avatar.pull-right.header-desktop
                a.button-domain-name(href='https://compadata.com/auth/login') Đăng nhập
                a.button-domain-name(href='https://compadata.com/auth/get-register') Đăng ký
                a.button-domain-name.active(href='lien-he.html') Liên hệ
            .avatar.pull-right.header-ipad
                .dropdown.show
                    a#dropdownMenuLink.btn.btn-secondary.dropdown-toggle.button-domain-name.pd-15(href='' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                        img(src='https://compadata.com/frontend/images/down.png' alt='')
                    .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuLink')
                        ul
                            li
                            a.button-domain-name(href='https://compadata.com/auth/login') Đăng nhập
                            li
                            a.button-domain-name(href='https://compadata.com/auth/get-register') Đăng ký
                            li
                            a.button-domain-name.active(href='lien-he.html') Liên hệ
        .header.header-mobile
            .menu-mobile.pull-left
                #mySidenav.sidenav
                    a.closebtn(href='javascript:void(0)' onclick='closeNav()') &times;
                    a(href='https://compadata.com/pricing') Biểu phí
                    a(href='https://compadata.com/auth/login') Đăng nhập
                    a(href='https://compadata.com/auth/get-register') Đăng ký
                    a(href='lien-he.html') Liên hệ
                span(style='font-size:30px;cursor:pointer;color:#ffffff' onclick='openNav()') &#x2630;
            .logo.pull-left
                h2.cls-h2 Compa
                    span.data DATA
    .contact-us
        .container-contact100
            .wrap-contact100
                .contact100-form-title
                    span Pricing
                .contact100-form.validate-form
                    table.table
                        thead
                            tr
                                th.id(scope='col') #
                                th(scope='col') Dung lượng TB/Tháng	
                                th(scope='col') Đơn giá (VND/GB)
                        tbody
                            tr
                                th(scope='row') 1
                                td <= 5
                                td 1023
                            tr
                                th(scope='row') 2
                                td >  5 - 10
                                td 880
                            tr
                                th(scope='row') 3
                                td >  10 - 50
                                td 616
                            tr
                                th(scope='row') 4
                                td >  50 - 100
                                td 363
                            tr
                                th(scope='row') 5
                                td >  100 - 200
                                td 352
                            tr
                                th(scope='row') 6
                                td >  200 - 300
                                td 341
                            tr
                                th(scope='row') 7
                                td >  300 - 400
                                td 330
                            tr
                                th(scope='row') 8
                                td >  400 - 500
                                td 319
                            tr
                                th(scope='row') 9
                                td >  500 - 800
                                td 308
                            tr
                                th(scope='row') 10
                                td >  800 - 1000
                                td 297
                            tr
                                th(scope='row') 11
                                td >  1000
                                td 286
    .footer
        .footer-top
            .row
                .col-xs-12.col-sm-3.col-md-3
                    .logo
                        h2.cls-h2 Compa
                            span.data DATA
                .col-xs-6.col-sm-3.col-md-3
                    .menu-footer
                        p.cls-h3 PRODUCT
                        ul
                            li
                                a(href='#') Biểu phí
                .col-xs-6.col-sm-3.col-md-3
                    .menu-footer
                        p.cls-h3 COMPANY
                        ul
                            li
                                a(href='#') Liên hệ
                .col-xs-12.col-sm-3.col-md-3
                    .menu-footer
                        p.cls-h3 FOLLOW US
                        .list-social
                            a(href='#')
                                img(src='/frontend/images/icons/facebook.svg' alt='')
                            a(href='#')
                                img(src='/frontend/images/icons/google.svg' alt='')
                            a(href='#')
                                img(src='/frontend/images/icons/twitter.svg' alt='')
        .coppy-right
            .container
                span © 2020 
                a(href='/')
                    strong CompaData
