doctype html
head
	meta(charset='UTF-8')
	title Home
	meta(name='viewport' content='width=device-width, initial-scale=1.0')
	script(src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
	.index-page
		.header.header-des-ip
			.container
				.logo.pull-left
					a(href='/')
						h2.cls-h2 Compa
							span.data DATA
				.menu.pull-left
					ul
						li
							a(href='bieu-phi.html') Biểu phí
				.avatar.pull-right.header-desktop
					a.button-domain-name(href='https://compadata.com/auth/login') Đăng nhập
					a.button-domain-name(href='https://compadata.com/auth/get-register') Đăng nhập
					a.button-domain-name.active(href='lien-he.html') Liên hệ
				.avatar.pull-right.header-ipad
					.dropdown.show
						a#dropdownMenuLink1.btn.btn-secondary.dropdown-toggle.button-domain-name.pd-15(href='' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
							span(style='font-size:30px;cursor:pointer;color:#ffffff' onclick='openNav()') &#x2630;
					.dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuLink1')
						ul
							li
								a.button-domain-name(href='https://compadata.com/auth/login') Đăng nhập
							li
								a.button-domain-name(href='https://compadata.com/auth/get-register') Đăng nhập
							li
								a.button-domain-name.active(href='lien-he.html') Liên hệ
		.header.header-mobile
			.container
				.menu-mobile.pull-left
					#mySidenav.sidenav
						a.closebtn(href='javascript:void(0)' onclick='closeNav()') &times;
						a(href='https://compadata.com/pricing') Biểu phí
						a(href='https://compadata.com/auth/login') Đăng nhập
						a(href='https://compadata.com/auth/get-register') Đăng ký
						a(href='lien-he.html') Liên hệ
					span(style='font-size:30px;cursor:pointer;color:#ffffff' onclick='openNav()') &#x2630;
				.logo.pull-left
					h2.cls-h2 Compa
						span.data DATA
		.baground-blue
		.banner
			.container
				.row
					.col-md-6.col-xs-12.col-sm-6
						.powerful
							p.cls-h2 Hệ thống CDN
							h1.cls-h1 Xử lý hình ảnh mạnh mẽ,<br>  Tăng tốc website vượt trội
							p CompaData cung cấp giải pháp quản lý hình ảnh và tăng tốc website cực kỳ mạnh mẽ. 
								span.break-for Chỉ một bước tích hợp nhanh chóng, đơn giản, toàn bộ nội dung hình ảnh của bạn sẽ được tự động chuyển đổi, tối ưu, 
								span.break-for và lưu trữ cache CDN một cách hiệu quả nhất.
							a.button-domain-name.active(href='https://compadata.com/auth/get-register') ĐĂNG KÝ NGAY
					.col-md-6.col-xs-12.col-sm-6
						.main-leaf.row
							.col-md-6.dk-pd-right-0.col-lg-6.col-xs-6
								.leaf
									img.image-avatar(src='https://compadata.com/frontend/images/leaf.png' alt='')
									.check
										img(src='https://compadata.com/frontend/fonts/check-x.svg' alt='')
										span Trước 120 MB
							.col-md-6.dk-pd-left-0.col-lg-6.col-xs-6
								.leaf
									img.image-avatar(src='https://compadata.com/frontend/images/leaf.png' alt='')
									.check
										img(src='https://compadata.com/frontend/fonts/check-v.svg' alt='')
										span Sau 30 MB
		.content
			.container
				.row
					.col-md-4.col-sm-4.col-xs-12
						.item
							.image
								img(src='https://compadata.com/frontend/fonts/content-1.svg' alt='')
							h3.item-title Quản lý hình ảnh dễ dàng
							p Giúp bạn tiết kiệm thời gian, và chi phí vận hành website. Đáp ứng linh động các yêu cầu về thiết kế.
					.col-md-4.col-sm-4.col-xs-12
						.item
							.image
								img(src='https://compadata.com/frontend/fonts/content-2.svg' alt='')
							h3.item-title Đơn giản & Mạnh mẽ
							p Xử lý hình ảnh đẹp hơn, tối ưu hơn. Tích hợp đơn giản trực tiếp qua URL của hình ảnh.
					.col-md-4.col-sm-4.col-xs-12
						.item
							.image
								img(src='https://compadata.com/frontend/fonts/content-3.svg' alt='')
							h3.item-title Cache CDN hiệu quả
							p Tăng tốc website vượt trội với hệ thống server CDN tập trung cho hình ảnh.
		.end-to-end
			.container
				p.cls-h1 Giải pháp tối ưu hình ảnh tổng thể và toàn diện
				a.button-domain-name.active(href='https://compadata.com/auth/get-register') BẮT ĐẦU NGAY HÔM NAY
				.diagram.hidden-xs
					.row
						.col-md-2
						.col-md-8.col-xs-12
							.download-cache
								.row
									.col-md-7.col-xs-8.w-100
										.subtraction-content
											p.itemm-title WE DOWNLOAD & TRANSFORM
											p Ở lần tải hình ảnh đầu tiên, chúng tôi xử lý và chuyển đổi hình ảnh theo yêu cầu của bạn: thay đổi kích thước, độ phân giải ảnh, thêm watermark, …
									.col-md-5.col-xs-4.w-100
										.subtraction.subtration-1
											img.image-avatar(src='https://compadata.com/frontend/images/icons/circle1.svg' alt='')
											.subtraction-image
												img.w-h-170.ipad-w-130(src='https://compadata.com/frontend/fonts/subtraction-image-1.svg' alt='')
							.download-cache.download-cache-2
								.row
									.col-md-5.col-xs-4.w-100
										.subtraction.subtration-2
											img.image-avatar(src='https://compadata.com/frontend/images/icons/circle3.svg' alt='')
											.subtraction-image
												img.w-h-170.ipad-w-130(src='https://compadata.com/frontend/fonts/subtration-image-3.svg' alt='')
									.col-md-7.col-xs-8.w-100
										.subtraction-content
											p.itemm-title WE OPTIMIZE & CACHE
											p Chúng tôi nén và chuyển đổi hình ảnh của bạn sang định dạng mới WEBP để tối ưu dung lượng. Toàn bộ hình ảnh được lưu trữ trên hệ thống cloud AWS của Amazon, giúp bạn quản lý dễ dàng.
							.download-cache
								.row
									.col-md-7.col-xs-8.w-100
										.subtraction-content
											p.itemm-title ACCELERATE OVER CDN
											p Chúng tôi tăng tốc toàn diện hình ảnh của bạn thông qua mạng lưới kiến trúc CDN. Tăng tốc website vượt trội, giảm tải cho máy chủ gốc của bạn.
									.col-md-5.col-xs-4.w-100
										.subtraction.subtration-1
											img.image-avatar(src='https://compadata.com/frontend/images/icons/circle4.svg' alt='')
											.subtraction-image
												img.w-h-170.ipad-w-130(src='https://compadata.com/frontend/fonts/subtration-image-4.svg' alt='')
						.col-md-2
			.visible-xs.home-wrapper.home-process
				ul.home-process-icons
					li.home-process-icon
						.home-process-icon-svg
							img.image-avatar(src='https://compadata.com/frontend/images/icons/circle1.svg' alt='')
							.subtraction-image
								img.w-h-170.ipad-w-130(src='https://compadata.com/frontend/fonts/subtraction-image-1.svg' alt='')
						span.home-process-icon-bullet.none-home-process-before
						.home-process-icon-text
							p.itemm-title WE DOWNLOAD & CACHE
							p On first image load, we download your image from your storage and cache it. You can optionally use Cloudimage to store your origin images as well.
							span.home-process-icon-arrow
								img(src='https://compadata.com/frontend/images/down-mobile.png' alt='')
					li.home-process-icon
						.home-process-icon-svg
							img.image-avatar(src='https://compadata.com/frontend/images/icons/circle2.svg' alt='')
							.subtraction-image
								img.w-h-170.ipad-w-130(src='https://compadata.com/frontend/fonts/subtration-image-2.svg' alt='')
						span.home-process-icon-bullet
						.home-process-icon-text
							p.itemm-title WE TRANSFORM
							p We crop, resize, cut, watermark, colorize, rotate & enhance your images. Cloudimage converts your images into WebP and JPEG2000 for even more size reduction.
							span.home-process-icon-arrow
								img(src='https://compadata.com/frontend/images/down-mobile.png' alt='')
					li.home-process-icon
						.home-process-icon-svg
							img.image-avatar(src='https://compadata.com/frontend/images/icons/circle3.svg' alt='')
							.subtraction-image
								img.w-h-170.ipad-w-130(src='https://compadata.com/frontend/fonts/subtration-image-3.svg' alt='')
						span.home-process-icon-bullet
						.home-process-icon-text
							p.itemm-title OPTIMIZE
							p
								| We reduce the weight of your images by intelligently applying the best compression for the maximum level of byte reduction imperceptible to the human eye.
							span.home-process-icon-arrow
								img(src='https://compadata.com/frontend/images/down-mobile.png' alt='')
					li.home-process-icon
						.home-process-icon-svg
							img.image-avatar(src='https://compadata.com/frontend/images/icons/circle4.svg' alt='')
							.subtraction-image
								img.w-h-170.ipad-w-130(src='https://compadata.com/frontend/fonts/subtraction-image-1.svg' alt='')
						span.home-process-icon-bullet.none-home-process-after
						.home-process-icon-text
							p.itemm-title WE ACCELERATEOVER CDN
							p Your images are accelerated anywhere around the world via our multi-CDN architecture.
			p.cls-h1 Hãy để chúng tôi quản lý nội dung hình ảnh cho bạn tốt hơn
			a.button-domain-name.active(href='https://compadata.com/auth/get-register') DÙNG THỬ MIỄN PHÍ
		.our-customers
			.container
				.main-our-customer
					p.cls-h1 Khách hàng tiêu biểu
					.row
						.col-xs-6.col-md-3.col-sm-6
							.item
								a(href='#')
									img(src='https://compadata.com/frontend/images/icons/good.svg' alt='')
						.col-xs-6.col-md-3.col-sm-6
							.item
								a(href='#')
									img(src='https://compadata.com/frontend/images/icons/kokoa.svg' alt='')
						.col-xs-6.col-md-3.col-sm-6
							.item
								a(href='#')
									img(src='https://compadata.com/frontend/fonts/our-cus-3.svg' alt='')
						.col-xs-6.col-md-3.col-sm-6
							.item
								a(href='#')
									img(src='https://compadata.com/frontend/images/icons/map.svg' alt='')
		.footer
			.footer-top
				.container
					.row
						.col-xs-12.col-sm-3.col-md-3
							.logo
								h2.cls-h2 Compa
									span.data DATA
						.col-xs-6.col-sm-3.col-md-3
							.menu-footer
								.cls-h3 PRODUCT
								ul
									li
										a(href='#') Biểu phí
						.col-xs-6.col-sm-3.col-md-3
							.menu-footer
								.cls-h3 COMPANY
								ul
									li
										a(href='#') Liên hệ
						.col-xs-12.col-sm-3.col-md-3
							.menu-footer
								.cls-h3 FOLLOW US
								.list-social
									a(href='#')
										img(src='https://compadata.com/frontend/images/icons/facebook.svg' alt='')
									a(href='#')
										img(src='https://compadata.com/frontend/images/icons/google.svg' alt='')
									a(href='#')
										img(src='https://compadata.com/frontend/images/icons/twitter.svg' alt='')
			.coppy-right
				.container
					span © 2020 
					a(href='/')
						strong CompaData
