doctype html
head
    title Contact Us
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    .index-page
        .header.header-des-ip
            .logo.pull-left
                a(href='/')
                    h2.cls-h2 Compa
                        span.data DATA
            .menu.pull-left
                ul
                    li
                        a(href='bieu-phi.html') Biểu phí
            .avatar.pull-right.header-desktop
                a.button-domain-name(href='https://compadata.com/auth/login') Đăng nhập
                a.button-domain-name(href='https://compadata.com/auth/get-register') Đăng ký
                a.button-domain-name.active(href='https://compadata.com/contact-us') Liên hệ
            .avatar.pull-right.header-ipad
                .dropdown.show
                    a#dropdownMenuLink.btn.btn-secondary.dropdown-toggle.button-domain-name.pd-15(href='' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                        img(src='https://compadata.com/frontend/images/down.png' alt='')
                    .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuLink')
                        ul
                            li
                                a.button-domain-name(href='https://compadata.com/auth/login') Đăng nhập
                            li
                                a.button-domain-name(href='https://compadata.com/auth/get-register') Đăng ký
                            li
                                a.button-domain-name.active(href='https://compadata.com/contact-us') Liên hệ
        .header.header-mobile
            .menu-mobile.pull-left
                #mySidenav.sidenav
                    a.closebtn(href='javascript:void(0)' onclick='closeNav()') &times;
                    a(href='https://compadata.com/pricing') Biểu phí
                    a(href='https://compadata.com/auth/login') Đăng nhập
                    a(href='https://compadata.com/auth/get-register') Đăng ký
                    a(href='https://compadata.com/contact-us') Liên hệ
                span(style='font-size:30px;cursor:pointer;color:#ffffff' onclick='openNav()') &#x2630;
            .logo.pull-left
                h2.cls-h2 Compa
                    span.data DATA
        .contact-us
            .container-contact100(style='background: none;z-index: 0;')
                .wrap-contact100
                    .contact100-form-title
                        span Contact Us
                    form.contact100-form.validate-form.p-10(method='POST' action='https://compadata.com/contact-us')
                        input(type='hidden' name='_token' value='zYimW4lczjQ1h3LvbHnFqopO1qPKO8oFSF8Ssv7R')
                        .wrap-input100.validate-input
                            input#name.input100(autocomplete='off' type='text' name='full_name' placeholder='Tên đầy đủ')
                            span.focus-input100
                            label.label-input100(for='name')
                                span.lnr.lnr-user.m-b-2
                        .wrap-input100.validate-input
                            input#phone.input100(type='text' name='phone' placeholder='Số điện thoại')
                            span.focus-input100
                            label.label-input100(for='phone')
                                span.lnr.lnr-phone.m-b-5
                        .wrap-input100
                            input.input100(type='email' name='email' placeholder='Email')
                            label.label-input100
                                span.lnr.lnr-envelope.m-b-5
                        .wrap-input100.validate-input
                            textarea#message.input100(name='content' placeholder='Nội dung...')
                            span.focus-input100
                            label.label-input100.rs1(for='message')
                                span.lnr.lnr-bubble
                        .container-contact100-form-btn
                            button.contact100-form-btn Gửi
        .footer
            .footer-top
                .row
                    .col-xs-12.col-sm-3.col-md-3
                        .logo
                            h2.cls-h2 Compa
                                span.data DATA
                    .col-xs-6.col-sm-3.col-md-3
                        .menu-footer
                            p.cls-h3 PRODUCT
                            ul
                                li
                                    a(href='#') Biểu phí
                                li
                                    a(href='#') Pricing
                    .col-xs-6.col-sm-3.col-md-3
                        .menu-footer
                            p.cls-h3 COMPANY
                            ul
                                li
                                    a(href='#') Liên hệ
                    .col-xs-12.col-sm-3.col-md-3
                        .menu-footer
                            p.cls-h3 FOLLOW US
                            .list-social
                                a(href='#')
                                    img(src='/frontend/images/icons/facebook.svg' alt='')
                                a(href='#')
                                    img(src='/frontend/images/icons/google.svg' alt='')
                                a(href='#')
                                    img(src='/frontend/images/icons/twitter.svg' alt='')
            .coppy-right
                .container
                        span © 2020 
                        a(href='/')
                            strong CompaData