@media(max-width: 767px) {

    .header,
    .banner,
    .content,
    .end-to-end,
    .our-customers,
    .footer-top {
        padding: 0 15px;
    }

    .header {
        height: 68px;
        line-height: 68px;
    }

    .header-desktop {
        display: none;
    }

    .header-mobile {
        display: block;
    }

    .header-ipad {
        display: none;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        color: #ffffff;
        display: block;
        transition: 0.3s;
        height: 35px;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .menu-mobile {
        margin-right: 10px;
        position: absolute;
    }

    .content .image img,
    .our-customers .item img {
        position: relative;
    }
    .main-leaf {
        margin-top: 20px;
    }
    .check {
        height: auto;
    }
    .header-mobile .logo {
        max-width: 200px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }
    .container {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }
    .content {
        margin-top: 45px;
    }
    .end-to-end .cls-h1, .our-customers .cls-h1 {
        font-size: 31px;
        line-height: 45px;
    }
    .end-to-end .button-domain-name {
        margin-top: 20px;
        font-size: 22px;
        height: 50px;
        line-height: 50px;
    }
    .wrap-contact100 {
        width: 100%;
        overflow: hidden;
    }
    .container-contact100 {
        padding: 20px 0 20px 0;
        min-height: 100%;
    }
    .header-des-ip{
        display: none;
    }
    .contact100-form {
        padding: 10px 0;
    }
    .p-10 {
        padding: 10px;
    }
    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }

        .sidenav a {
            font-size: 18px;
        }
    }

    .banner {
        background-image: none;
        background: linear-gradient(0deg, white 15%, #00539c 18%);
        height: auto;
    }

    .subtration-1:after {
        top: 90%;
        right: 65%;
        width: 100%;
    }

    .subtration-1:after,
    .subtration-2:after,
    .subtration-2:before,
    .subtration-1:before {
        display: none !important;
    }

    .our-customers .item img {
        width: 100%;
        max-width: 200px;
    }

    .our-customers .cls-h1 {
        margin-bottom: 25px;
    }

    .our-customers {
        margin-top: 50px;
    }


    .content .image,
    .our-customers .item {
        min-height: 100px;
    }

    .subtraction img.image-avatar {
        width: auto;
        height: auto;
        max-width: 100%;
    }

    .menu-footer {
        margin-bottom: 20px;
    }

    .download-cache {
        height: auto;
        margin-bottom: 30px;
    }

    .home-process-icon-bullet::after {
        position: absolute;
        top: 50%;
        right: 0;
        bottom: -300px;
        left: 0;
        z-index: -1;
        margin: auto;
        background-color: #CFCFCF;
        width: 3px;
        content: '';
    }

    .home-process-icon-bullet::before {
        position: absolute;
        top: -300px;
        right: 0;
        bottom: 50%;
        left: 0;
        z-index: -1;
        margin: auto;
        background-color: #CFCFCF;
        width: 3px;
        content: '';
    }

    .home-process-icon:not(:last-of-type) {
        margin-bottom: 30px;
        position: relative;
    }

    .none-home-process-after:after,
    .none-home-process-before:before {
        display: none;
    }

    .ipad-w-130 {
        width: 115px;
        height: 115px;
    }

    .subtraction-image {
        width: 130px;
        height: 130px;
    }

    .end-to-end .itemm-title {
        margin-top: 15px;
    }

    .home-process-icon-arrow img {
        width: 50px;
    }

    .button-domain-name,
    .button-domain-name:hover {
        margin-left: 0px;
    }
}

@media(min-width: 451px) and (max-width: 767px) {
    .home-process-icon {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-flex: 0 0 100%;
        -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .home-process-icon-svg {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-flex: 0 0 -webkit-calc(33.33333% - -25px);
        -moz-box-flex: 0;
        -ms-flex: 0 0 calc(33.33333% - 24px);
        margin: 0px;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .home-process-icon-bullet {
        right: 18%;
        left: 0 !important;
        margin: 0 auto;
        position: relative !important;
    }

    .home-process-icon-text {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-flex: 0 0 -webkit-calc(50% - 24px);
        -moz-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 24px);
        flex: 0 0 calc(50% - 0px);
        margin: 0 12px;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }

    ul.home-process-icons {
        padding-left: 0;
    }

    .home-wrapper.home-process {
        margin-top: 20px;
    }

    .home-process-icon-bullet::before {
        top: -150px;
    }

    .home-process-icon-bullet::after {
        bottom: -150px;
    }
    .home-process-icon-bullet {
        position: absolute;
        top: 0px;
        bottom: 0;
        margin: auto;
        border-radius: 50%;
        background-color: #D93025;
        width: 12px;
        height: 12px;
    }

}

@media(max-width: 600px) {
    .ipad-w-130 {
        width: 80px;
        height: 80px;
    }

    .subtraction-image {
        width: 80px;
        height: 80px;
    }

    .home-process-icon-bullet::after {
        bottom: -220px;
    }
    .check {
        padding: 6px 13px 6px 10px;
    }
    
}

@media(max-width: 450px) {
    .home-process-icon-bullet {
        position: absolute;
        top: 145px;
        bottom: 0;
        left: -40px;
        border-radius: 50%;
        background-color: #D93025;
        width: 12px;
        height: 12px;
    }

    .home-process-icon-svg {
        position: relative;
    }

    .home-process-icon {
        -webkit-flex: 0 0 75%;
        -moz-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        z-index: 1;
    }

    img.image-avatar {
        height: 275px;
    }
    .home-process-icon-bullet::after {
        bottom: -250px;
    }
    .check {
        padding: 6px 10px 6px 10px;
        font-size: 18px;
        letter-spacing: -1px;
    }
    .leaf .check img {
        margin-right: 7px;
    }
    .banner .cls-h1 {
        font-size: 26px;
    }
}

@media(max-width: 374px) {
    img.image-avatar {
        height: 226px;
    }

    .home-process-icon-bullet {
        top: 115px;
    }

    .ipad-w-130 {
        width: 130px;
        height: 130px;
    }

    .subtraction-image {
        width: 130px;
        height: 130px;
    }

    .cls-h2 {
        font-size: 26px;
    }

    .button-domain-name,
    .button-domain-name:hover {
        padding: 0 20px;
    }

    .header {
        height: 58px;
        line-height: 68px;
    }
    .banner .cls-h1 {
        font-size: 22px;
    }
    .check {
        padding: 6px 6px 6px 10px;
        font-size: 14px;
        letter-spacing: 0px;
    }
    .leaf .check img{
        width:20px;
        margin-right: 8px;
    }
}