@media(max-width: 1199px) {
    .header-ipad {
        display: block;
    }

    .header-desktop {
        display: none;
    }

    .header .dropdown-menu {
        background-color: #00539C;
        width: 185px;

        ul {
            list-style: none;
            padding-left: 0;
        }
    }

    .end-to-end .download-cache .subtraction-content {
        margin-top: 10%;
    }

    .ipad-w-130 {
        width: 105px;
        height: 130px;
    }

    .subtraction-image {
        width: 130px;
        margin: auto;
        height: 130px;
    }

    .header .pd-15, .header .pd-15:hover {
        border: none;
        background-color: transparent;
    }
    .header-ipad .dropdown-menu a{
        width:145px;
    }
    .header-ipad .pd-15 {
        padding:0;
        img{
            width:30px;
        }
    }
    // .download-cache {
    //     padding: 0;
    // }

    .download-cache {
        // height: 295px;
        padding: 0;
        height: 265px;
        position: relative;
    }

    .subtraction img.image-avatar {
        width: 228px;
        height: 206px;
    }
    .subtration-2:after {
        border-top: 15px solid #CFCFCF;
        border-left: 15px solid #CFCFD0;
        bottom: 94%;
    }
    .subtration-2:before {
        border-bottom: 15px solid #CFCFCF;
        border-left: 15px solid #CFCFD0;
    }
    .subtration-1:after {
        right: 60%;
        border-bottom: 15px solid #CFCFCF;
        border-right: 15px solid #CFCFD0;
    }
    .subtration-1:before {
        border-top: 15px solid #CFCFCF;
        border-right: 15px solid #CFCFD0;
    }
    .download-cache:nth-child(3) .subtration-1:before {
        bottom: 92.3%;
        right: 32%;
    }
    .download-cache:nth-child(3) .subtration-1:after {
        top: 92.3%;
        right: 32%;
    }
    .diagram {
        margin-top: 55px;
        margin-bottom: -20px;
    }
    .end-to-end {
        margin-top: 50px;
    }
    .banner .cls-h1 {
        font-size: 31px;
        line-height: 45px;
    }
    .baground-blue {
        height: 265px;
    }
    .powerful {
        margin-top: -270px;
    }
    .main-leaf {
        margin-top: -190PX;
    }
    .banner {
        background-size: 100% 100%;
        height:340px;
        margin-top: -1px;
    }
    .content {
        margin-top: -85px;
    }

    .check {
        height: auto;
        padding: 6px 15px 6px 15px;
    }
    .container {
        width: 900px;
        padding-left: 0;
        padding-right: 0;
    }
    .container-contact100 {
        min-height: 85vh;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .header,
    .banner,
    .content,
    .end-to-end,
    .our-customers,
    .footer-top {
        padding: 0 15px;
    }

    .list-social a img {
        margin-right: 9px;
    }

    .content .image,
    .our-customers .item {
        min-height: 115px;
    }

    .our-customers .cls-h1 {
        margin-bottom: 25px;
    }

    .cls-h2 {
        font-size: 25px;
    }

    .menu ul {
        padding: 0;
    }

    .menu li {
        padding: 0 7px;
    }

    .pd-15 {
        margin-left: 0;
    }

    .download-cache {
        // height: 295px;
        height: 265.3px;
        position: relative;
        padding: 0;
    }

    .subtraction img.image-avatar {
        width: 228px;
        height: 206px;
    }

    .subtration-1:after {
        right: 57%;
    }
    .header .pd-15 {
        margin-left: auto;
    }
    .subtration-2:after, .subtration-2:before, .subtration-1:after, .subtration-1:before,
     .download-cache:nth-child(3) .subtration-1:after, .download-cache:nth-child(3) .subtration-1:before,
     .download-cache:nth-child(4) .subtration-2:after{
        width: 400px;
    }
    .subtration-1:after {
        top: 93.5%;
    }
    .download-cache:nth-child(3) .subtration-1:after {
        top: 92.4%;
    }
    .banner .cls-h1 {
        font-size: 25px;
        line-height: 37px;
    }
    .banner a {
        margin-top: 20px;
    }
    .baground-blue {
        height: 265px;
    }
    .powerful {
        margin-top: -270px;
    }
    .main-leaf {
        margin-top: -190PX;
    }
    .banner {
        background-size: 100% 100%;
        height: 385px;
        margin-top: -1px;
    }
    .content {
        margin-top: -30px;
    }
    .check {
        padding: 6px 10px 6px 14px;
        font-size: 15px;
    }
    .container {
        width: 735px !important;
        padding-left: 0;
        padding-right: 0;
    }
    .end-to-end .cls-h1, .our-customers .cls-h1 {
        font-size: 35px;
        line-height: 52px;
    }
    .end-to-end .button-domain-name {
        margin-top: 25px;
        font-size: 26px;
        height: 50px;
        line-height: 50px;
    }
    .menu.pull-left {
        margin-left: 20px;
    }
    .footer-top {
        padding: 15px;
    }
    .container-contact100 {
        min-height: 85vh;
    }
}