@media (min-width: 1920px) {

    .download-cache {
        // height: 460px;
        height: 421px;
        position: relative;
        padding: 0;
    }
    .subtraction img.image-avatar {
        width: 100%;
        width: 470px;
        height: 378px;
    }
    span.break-for {
        display: block;
    }
    .container {
        width: 1820px;
    }
}

@media (min-width: 1680px) and (max-width: 1919px) {



    .subtration-1:after {
        right: 60%;
    }

    .download-cache {
        // height: 461px;
        height: 421px;
        position: relative;
    }

    .download-cache {
        padding: 0;
    }

    .subtraction img.image-avatar {
        width: 100%;
        height: 378px;
    }
    span.break-for {
        display: block;
    }
    .container {
        width: 1580px;
    }
}

@media (min-width: 1440px) and (max-width: 1679px) {

    .download-cache {
        padding: 0;
        // height: 407px;
        height: 367px;
        position: relative;
    }

    .subtraction img.image-avatar {
        width: 353px;
        height: 318px;
    }

    .subtration-1:after {
        top: 93.5%;
        right: 63%;
    }
    span.break-for {
        display: block;
    }
    .container {
        width: 1340px;
    }
    .banner {
        background-size: 100% 490px;
    }
}

@media (min-width: 1200px) and (max-width: 1439px) {

    .download-cache {
        padding: 0;
        // height: 351.1px;
        height: 311.1px;
        position: relative;
    }

    .subtraction img.image-avatar {
        width: 287px;
        height: 257px;
    }

    .subtration-1:after {
        right: 62%;
    }

    img.w-h-170 {
        width: 130px;
    }

    .header .button-domain-name {
        padding: 0 15px;
    }

    .header,
    .banner,
    .content,
    .end-to-end,
    .our-customers,
    .footer-top {
        padding: 0 30px;
    }

    .menu li {
        padding: 0 6px;
    }
    .subtration-2:after {
        bottom: 96.6%;
    }
    .download-cache:nth-child(3) .subtration-1:before {
        bottom: 95.1%;
    }
    .download-cache:nth-child(4) .subtration-2:after {
        bottom: 94.6%;
    }
    .banner {
        background-size: 100% 475px;
    }
    .banner .cls-h1 {
        font-size: 35px;
        line-height: 43px;
    }
}