@media(min-width: 1200px) {
    img.w-h-170 {
        width: 170px;
        height: 170px;
        width: 100%;
    }

    .subtraction-image {
        width: 170px;
        margin: auto;
        height: 170px;
    }
    .diagram {
        margin-bottom: -15px;
    }
    .container {
        width: 1145px;
        padding-right: 0;
    padding-left: 0;
    }
}
@media(min-width:768px){
    .header-des-ip{
        display: block;
    }
}