@import "../font-awesome/scss/font-awesome.scss";
@import "font";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap&subset=vietnamese');

body {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    font-size: 16px;
    line-height: 21px;
}

/*header*/
.header,
.banner,
.content,
.end-to-end,
.our-customers,
.footer-top {
    padding: 0 45px;
}

.header {
    height: 80px;
    line-height: 80px;
    background-image: url('../image/banner-header-compadata.svg');
}

.header-mobile {
    display: none;
}

.header-ipad {
    display: none;
}

.header-desktop {
    display: block;
}

.logo {
    max-width: 200px;
}

.cls-h2 {
    font-size: 30px;
    color: #ffffff;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}

.menu ul {
    list-style-type: none;
    text-align: center;
    margin-bottom: 0;
}

.menu li {
    display: inline-block;
    padding: 0 15px;
    height: 60px;
    line-height: 60px;
}

.menu li a {
    color: #ffffff;
    line-height: 21px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.menu li:hover a,
.menu li.active a {
    opacity: 0.7;
}


.button-domain-name,
.button-domain-name:hover {
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 0 30px;
    margin-right: 0px;
    line-height: 40px;
    height: 40px;
    font-weight: 500;
    margin-left: 20px;
}

.button-domain-name:hover,
.button-domain-name.active {
    background-color: #D93025;
    border: 1px solid #D93025;
    color: #ffffff;
}
// .baground-blue
.baground-blue{
    background-image: url('../image/banner-header-compadata.svg');
    height:150px;
    margin-bottom:-1px;
}
/*header*/
.banner {
    background-image: url('../image/banner-image.png');
    background-repeat: no-repeat;
    background-size: 100% 700px;
}
.cls-h1{
    margin-top: 20px;
    margin-bottom: 10px;
}
.banner .cls-h1 {
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
    line-height: 53px;
}
.powerful {
    margin-top: -150px;
}
.banner .cls-h2 {
    font-weight: 500;
}

.banner p {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
}

img.image-avatar {
    width: 100%;
}

.banner a {
    margin-top: 30px;
    font-size: 20px;
}

.main-leaf {
    margin-top: -70px;
}

.dk-pd-right-0 {
    padding-right: 0;
}

.dk-pd-left-0 {
    padding-left: 0;
}

.leaf {
    position: relative;
    overflow: hidden;
    background: transparent;
}

.check {
    position: absolute;
    width: auto;
    top: 0;
    height: 45px;
    background: rgba(0, 0, 0, .5);
    padding: 6px 20px 6px 15px;
    transition: height .5s;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}

.leaf img {
    margin-right: 15px;
}

/*content*/
.content {
    margin-top: 20px;
}
.content,
.end-to-end,
.our-customers {
    text-align: center;
}

.content .item p {
    line-height: 25px;
    margin-top: 25px;
}

.content .item .item-title,
.end-to-end .itemm-title {
    font-size: 20px;
    line-height: 27px;
    font-weight: 700;
    margin-top: 40px;
}

.content .image,
.our-customers .item {
    min-height: 170px;
    position: relative;
}

.content .image img,
.our-customers .item img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

/*end-to-end*/
.end-to-end .cls-h1,
.our-customers .cls-h1 {
    font-size: 40px;
    line-height: 60px;
    color: #00265D;
    font-weight: 500;
}

.end-to-end .button-domain-name {
    margin-top: 25px;
    font-size: 30px;
    height: 55px;
    line-height: 55px;

}

/* end content*/
.end-to-end {
    margin-top: 70px;
}

/*our-coustomers*/
.our-customers {
    background-color: #E2F1FF;
    border-bottom: 3px solid #ffffff;
    margin-top: 90px;
}

.our-customers .cls-h1 {
    padding-top: 25px;
    margin-bottom: -5px;
}

.our-customers .item img {
    top: 0;
}

/*footer*/
.footer {
    background-color: #00265D;

    .cls-h3 {
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        color: #ffffff;
        margin-top: 20px;
    }

    .cls-h3::before {
        position: absolute;
        content: "";
        border-bottom: 2px solid #ffffff;
        display: block;
        width: 17px;
        top: 48px;
    }

    ul {
        list-style: none;
        padding-left: 0;
        margin-top: 23px;

        li {
            height: 40px;

            a {
                color: #ffffff;
                font-size: 16px;
                line-height: 20px;
            }
        }

        li:hover {
            a {
                text-decoration: none;
                opacity: 0.7;
            }
        }
    }
}

.coppy-right {
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #ffffff;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
}

.list-social a img {
    margin-right: 20px;
}

.list-social a:hover img {
    opacity: 0.7;
}

.list-social {
    margin-top: 23px;
}

.footer-top {
    padding-top: 10px;
}

.data {
    border: 1px solid #D93025;
    background-color: #D93025;
    border-radius: 5px;
    margin-left: 5px;
    padding: 0 5px;
}

.diagram {
    margin-top: 80px;
    margin-bottom: 50px;
}

.subtraction-image {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
}

.subtraction,
.subtraction-content {
    position: relative;
}

.end-to-end .download-cache .subtraction-content {
    text-align: right;
    margin-top: 23%;
}

.end-to-end .download-cache-2 .subtraction-content {
    text-align: left;
}

.end-to-end p {
    line-height: 25px;
}

.download-cache {
    padding: 25px 0 26px;
}

.download-cache:first-child {

    /* padding-top: 0;*/
    .subtration-1:before {
        display: none;
    }
}

.download-cache:last-child {

    /*padding-bottom: 0;*/
    .subtration-2:before {
        display: none;
    }
}

.subtration-1:after {
    content: '';
    position: absolute;
    width: 300px;
    height: 50px;
    border-bottom: 20px solid #CFCFCF;
    border-right: 20px solid #CFCFD0;
    border-bottom-right-radius: 50px;
    background: transparent;
    border-top: none;
    border-left: none;
    top: 93.4%;
    right: 65%;
}

.subtration-2:after {
    content: '';
    position: absolute;
    width: 300px;
    height: 50px;
    border-top: 20px solid #CFCFCF;
    border-left: 20px solid #CFCFD0;
    border-top-left-radius: 50px;
    background: transparent;
    border-bottom: none;
    border-right: none;
    bottom: 97%;
    left: 45%;
}

.subtration-1:before {
    content: '';
    position: absolute;
    width: 300px;
    height: 50px;
    border-top: 20px solid #CFCFCF;
    border-right: 20px solid #CFCFD0;
    border-top-right-radius: 50px;
    background: transparent;
    border-bottom: none;
    border-left: none;
    bottom: 95%;
    right: 60%;
}

.subtration-2:before {
    content: '';
    position: absolute;
    width: 300px;
    height: 50px;
    border-bottom: 20px solid #CFCFCF;
    border-left: 20px solid #CFCFD0;
    border-bottom-left-radius: 50px;
    background: transparent;
    border-top: none;
    border-right: none;
    top: 95%;
    left: 45%;
}

.download-cache:nth-child(3) {
    .subtration-1:before {
        width: 300px;
        bottom: 95.3%;
        right: 40%;
    }
}

.download-cache:nth-child(3) {
    .subtration-1:after {
        width: 300px;
        top: 95.3%;
        right: 40%;
    }
}

.download-cache:nth-child(4) {
    .subtration-2:after {
        width: 300px;
        bottom: 95%;
    }
}

.subtration-1:after,
.subtration-2:after,
.subtration-1:before,
.subtration-2:before,
.download-cache:nth-child(3) .subtration-1:before,
.download-cache:nth-child(3) .subtration-1:after,
.download-cache:nth-child(4) .subtration-2:after {
    width: 100%;
}
.banner .button-domain-name, .banner .button-domain-name:hover{
margin-left: 0;    
}
.container-contact100 {
    min-height: auto;
    background-color: #e2f1ff ;
    padding: 15px 15px 50px 15px ;
}
.contact100-form-title::before {
    background-color: #00265d;
}
a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
}
.download-cache:last-child .subtration-1:after{
    display: none;
}
// bieu phi
.table{
    margin-top: 20px;
}
.wrap-contact100 {
    width: 700px;
    background: #fff;
    border-radius: 3px;
    position: relative;
}
.contact100-form-title {
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    width: 100%;
    min-height: 128px;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: hidden;
    padding: 30px 15px 30px 15px;
}
.contact100-form-title::before {
    background-color: #00265d;
}
.contact100-form-title::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.contact100-form {
    border: 1px solid #e6e6e6;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
}
textarea.input100 {
    min-height: 162px;
    padding-top: 22px;
    padding-bottom: 15px;
}
.container-contact100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: relative;
    z-index: 10;
}
.table .id{
    min-width:50px;
}
//lien he
.validate-input {
    position: relative;
}
.wrap-input100 {
    width: 100%;
    position: relative;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    margin-bottom: 15px;
}
input.input100, textarea {
    height: 55px;
    border: none;
    outline: none;
    
}
.input100 {
    display: block;
    width: 100%;
    background: transparent;
    font-size: 15px;
    color: #333333;
    line-height: 1.2;
    padding: 0 25px 0 45px;
}
.focus-input100 {
    position: absolute;
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    pointer-events: none;
    border: 1px solid;
    border-radius: 2px;
    border-color: #846add;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scaleX(1.1) scaleY(1.3);
    -moz-transform: scaleX(1.1) scaleY(1.3);
    -ms-transform: scaleX(1.1) scaleY(1.3);
    -o-transform: scaleX(1.1) scaleY(1.3);
    transform: scaleX(1.1) scaleY(1.3);
}
.label-input100 {
    font-size: 18px;
    color: #999999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 45px;
    height: 100%;
    top: 0;
    left: 2px;
}
.container-contact100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 17px;
}
.contact100-form-btn {
    font-family: Montserrat-Bold;
    font-size: 12px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 42px;
    border-radius: 21px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    border: none;
    background-color: #d93025;
    outline: none;
}
.lnr:before {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 20px;
}