
.baground-blue
.banner
	.container
		.row
			.col-md-6.col-xs-12.col-sm-6
				.powerful
					h2 Powerful
					h1 IMAGE PROCESSING,<br> SIMPLE API
					p CompaData transforms, optimizes, and intelligently caches
						span.break-for your entire image library for fast websites and apps using
						span.break-for simple and robust URL parameters.
					a.button-domain-name.active(href="#") TRY IT FREE
			.col-md-6.col-xs-12.col-sm-6
				.main-leaf.row
					.col-md-6.dk-pd-right-0.col-lg-6.col-xs-6
						.leaf
							img.image-avatar(src=require('../image/leaf.png') alt="")
							.check
								a(href="#")
									img(src=require('../image/check-x.svg') alt="")
								span Trước 120 MB
					.col-md-6.dk-pd-left-0.col-lg-6.col-xs-6
						.leaf
							img.image-avatar(src=require('../image/leaf.png') alt="")
							.check
								a(href="#")
									img( src=require('../image/check-v.svg') alt="")
								span Sau 30 MB