.footer
	.footer-top
		.container
			.row
				.col-xs-12.col-sm-3.col-md-3
					.logo
						h2 Compa
							span.data DATA
				.col-xs-6.col-sm-3.col-md-3
					.menu-footer
						h3 PRODUCT
						ul
							li
								a(href="#") Solutions
							li
								a(href="#") Pricing
				.col-xs-6.col-sm-3.col-md-3
					.menu-footer
						h3 COMPANY
						ul
							li
								a(href="#") About
							li
								a(href="#") Pricing
							li
								a(href="#") Customers
				.col-xs-12.col-sm-3.col-md-3
					.menu-footer
						h3 FOLLOW US
						.list-social
							a(href="#")
								img(src=require('../image/logo-circle-facebook.svg') alt="")
							a(href="#")
								img(src=require('../image/logo-circle-google-plus.svg') alt="")
							a(href="#")
								img(src=require('../image/logo-circle-twitter-bird.svg') alt="")
	.coppy-right
		.container
			span © 2020 CompaData.