.header.header-desktop
	.container
		.logo.pull-left
			h2 Compa
				span.data DATA
		.menu.pull-left
			ul
				li.active
					a(href="index.html") Customers
				li
					a(href="#") Solutions
				li
					a(href="#") Pricing
				li
					a(href="#") Developers
				li
					a(href="#") Company
		.avatar.pull-right
			a.button-domain-name(href="#") Sign In
			a.button-domain-name(href="#") Sign Up
			a.button-domain-name.active(href="#") Contact Us
.header.header-ipad
	.container
		.logo.pull-left
			h2 Compa
				span.data DATA
		.menu.pull-left
			ul
				li.active
					a(href="index.html") Customers
				li
					a(href="#") Solutions
				li
					a(href="#") Pricing
				li
					a(href="#") Developers
				li
					a(href="#") Company
		.avatar.pull-right
			.dropdown.show
				a.btn.btn-secondary.dropdown-toggle#dropdownMenuLink1.button-domain-name.pd-15(href="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
					span(style="font-size:30px;cursor:pointer;color:#ffffff" onclick="openNav()") &#9776;
				.dropdown-menu.dropdown-menu-right(aria-labelledby="dropdownMenuLink1")
					ul
						li
							a.button-domain-name(href="#") Sign In
						li
							a.button-domain-name(href="#") Sign Up
						li
							a.button-domain-name.active(href="#") Contact Us
.header.header-mobile
	.container
		.menu-mobile.pull-left
			#mySidenav.sidenav
				a.closebtn(href="javascript:void(0)" onclick="closeNav()") &times;
				a(href="index.html") Customers
				a(href="#") Solutions
				a(href="#") Pricing
				a(href="#") Developers
				a(href="#") Company
				a(href="#") Sign In
				a(href="#") Sign Up
				a(href="#") Contact Us
			span(style="font-size:30px;cursor:pointer;color:#ffffff" onclick="openNav()") &#9776;
		.logo.pull-left
			h2 Compa
				span.data DATA