.content
	.container
		.row
			.col-md-4.col-sm-4.col-xs-12
				.item
					.image
						a(href="")
							img(src=require('../image/content-1.svg') alt="")
					p.item-title Design Without Constraints
					p We don’t charge to create variations of your Master Images. You can be as creative with the service as possible.
			.col-md-4.col-sm-4.col-xs-12
				.item
					.image
						a(href="")
							img(src=require('../image/content-2.svg') alt="")
					p.item-title Powerful & Robust API
					p Over 100 real-time image operations, plus client libraries and CMS plugins for easy integrations with your product.
			.col-md-4.col-sm-4.col-xs-12
				.item
					.image
						a(href="")
							img(src=require('../image/content-3.svg') alt="")
					p.item-title A CDN Designed for Images
					p Serve optimized images to every device quickly with a worldwide CDN optimized for visual content.