.end-to-end
	.container
		h1 Your End-to-End Image Optimization Solution
		a.button-domain-name.active(href="#") START YOUR FREE TRIAL
		.diagram.hidden-xs
			.row
				.col-md-2
				.col-md-8.col-xs-12
					.download-cache
						.row
							.col-md-7.col-xs-8.w-100
								.subtraction-content
									p.itemm-title WE DOWNLOAD & CACHE
									p On first image load, we download your image from your storage and cache it. You can optionally use Cloudimage to store your origin images as well.
							.col-md-5.col-xs-4.w-100
								.subtraction.subtration-1
									img.image-avatar(src=require('../image/subtraction-1.svg') alt="")
									.subtraction-image
										img.w-h-170.ipad-w-130(src=require('../image/subtraction-image-1.svg') alt="")
					.download-cache.download-cache-2
						.row
							.col-md-5.col-xs-4.w-100
								.subtraction.subtration-2
									img.image-avatar(src=require('../image/subtraction-1.svg') alt="")
									.subtraction-image
										img.w-h-170.ipad-w-130(src=require('../image/subtration-image-2.svg') alt="")
							.col-md-7.col-xs-8.w-100
								.subtraction-content
									p.itemm-title WE TRANSFORM
									p We crop, resize, cut, watermark, colorize, rotate & enhance your images. Cloudimage converts your images into WebP and JPEG2000 for even more size reduction.
					.download-cache
						.row
							.col-md-7.col-xs-8.w-100
								.subtraction-content
									p.itemm-title OPTIMIZE
									p We reduce the weight of your images by intelligently applying the best compression for the maximum level of byte reduction imperceptible to the human eye.
							.col-md-5.col-xs-4.w-100
								.subtraction.subtration-1
									img.image-avatar(src=require('../image/subtraction-1.svg') alt="")
									.subtraction-image
										img.w-h-170.ipad-w-130(src=require('../image/subtration-image-3.svg') alt="")
					.download-cache.download-cache-2
						.row
							.col-md-5.col-xs-4.w-100
								.subtraction.subtration-2
									img.image-avatar(src=require('../image/subtraction-1.svg') alt="")
									.subtraction-image
										img.w-h-170.ipad-w-130(src=require('../image/subtration-image-4.svg') alt="")
							.col-md-7.col-xs-8.w-100
								.subtraction-content
									p.itemm-title WE ACCELERATEOVER CDN
									p Your images are accelerated anywhere around the world via our multi-CDN architecture.
				.col-md-2
		.visible-xs.home-wrapper.home-process
			ul.home-process-icons
				li.home-process-icon
					.home-process-icon-svg
						img.image-avatar(src=require('../image/subtraction-1.svg') alt="")
						.subtraction-image
							img.w-h-170.ipad-w-130(src=require('../image/subtraction-image-1.svg') alt="")
					span.home-process-icon-bullet.none-home-process-before
					.home-process-icon-text
						p.itemm-title WE DOWNLOAD & CACHE
						p On first image load, we download your image from your storage and cache it. You can optionally use Cloudimage to store your origin images as well.
						span.home-process-icon-arrow
							img(src=require('../image/down-mobile.png') alt="")
				li.home-process-icon
					.home-process-icon-svg
						img.image-avatar(src=require('../image/subtraction-1.svg') alt="")
						.subtraction-image
							img.w-h-170.ipad-w-130(src=require('../image/subtration-image-2.svg') alt="")
					span.home-process-icon-bullet
					.home-process-icon-text
						p.itemm-title WE TRANSFORM
						p We crop, resize, cut, watermark, colorize, rotate & enhance your images. Cloudimage converts your images into WebP and JPEG2000 for even more size reduction.
						span.home-process-icon-arrow
							img(src=require('../image/down-mobile.png') alt="")
				li.home-process-icon
					.home-process-icon-svg
						img.image-avatar(src=require('../image/subtraction-1.svg') alt="")
						.subtraction-image
							img.w-h-170.ipad-w-130(src=require('../image/subtration-image-3.svg') alt="")
					span.home-process-icon-bullet
					.home-process-icon-text
						p.itemm-title OPTIMIZE
						p We reduce the weight of your images by intelligently applying the best compression for the maximum level of byte reduction imperceptible to the human eye.
						span.home-process-icon-arrow
							img(src=require('../image/down-mobile.png') alt="")
				li.home-process-icon
					.home-process-icon-svg
						img.image-avatar(src=require('../image/subtraction-1.svg') alt="")
						.subtraction-image
							img.w-h-170.ipad-w-130(src=require('../image/subtraction-image-1.svg') alt="")
					span.home-process-icon-bullet.none-home-process-after
					.home-process-icon-text
						p.itemm-title WE ACCELERATEOVER CDN
						p Your images are accelerated anywhere around the world via our multi-CDN architecture.
		h1 Stop wasting time with image management
		a.button-domain-name.active(href="#") START YOUR FREE TRIAL