.our-customers
	.container
		.main-our-customer
			h1 Our Customers
			.row
				.col-xs-6.col-md-3.col-sm-6
					.item
						a(href="#")
							img(src=require('../image/espeo-portfolio-logo-mebegood-1.svg') alt="")
				.col-xs-6.col-md-3.col-sm-6
					.item
						a(href="#")
							img(src=require('../image/espeo-portfolio-logo-kokoa-2.svg') alt="")
				.col-xs-6.col-md-3.col-sm-6
					.item
						a(href="#")
							img(src=require('../image/our-cus-3.svg') alt="")
				.col-xs-6.col-md-3.col-sm-6
					.item
						a(href="#")
							img(src=require('../image/MapJam-logo.svg') alt="")